@charset 'utf-8';

/* import Google Font(一時的な措置) */
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* cssカスタムプロパティ（必ず読み込む） */
:root {
    --theme-100: #a9a7d6;
    --theme-200: #f9e798;
}

/* end */

/* Footer Area  */
footer {
    height: max-content;
    width: 100%;
    padding: 30px;
    background: var(--theme-100);
    background: linear-gradient(to right bottom, var(--theme-200), 30%, var(--theme-100));

    /* using google font */
    font-family: 'Klee One';
    color: white;
    text-shadow: 1px 1px 5px gray;
    box-sizing: border-box;
}

footer .footer__title {
    display: block;
    text-decoration: none;
    padding-block: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

footer .footer__nav {
    padding: 30px;
    display: grid;
    row-gap: 50px;
}

footer .footer__nav .footer__lists {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer .footer__nav .footer__lists .footer__list a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    transition: all .5s ease-in-out;
}

footer .footer__nav .footer__lists .footer__list a:hover {
    display: block;
    color: black;
    transform: rotate3d(1, 1, 1, 360deg);
}

footer .footer__nav .footer__sns {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

footer .footer__nav .footer__sns li a i {
    font-size: 40px;
    color: white;
}

footer .footer__nav .footer__sns li a img {
    height: 40px;
}

footer .copyright {
    text-align: center;
}

footer .copyright br {
    display: none;
}


/* responsive style  */
@media (max-width: 768px) {
    footer .footer__nav .footer__lists {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    footer .footer__title {
        font-size: 1.7rem;
    }

    footer .copyright br {
        display: block;
    }
}

/* end Footer Area  */